<div data-search-collections-target="collection_card">
  <div class="border-b">
    <h2>My collections</h2>
  </div>
  <div id="collections">
    <%= render "collection_folder", collection: current_user.default_collection, name: "Unsorted activities" %>
    <% collections.each do |collection| %>
      <%= render "collection_folder", collection: EncounterCollection.where(collection_id: collection.id).map(&:encounter), name: collection.title %>
    <% end %>
  </div>
</div>
