<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <h1>Your Collections</h1>
      <div>
        <%= render "collection_cards", collections: @collections %>
      </div>
      <%= link_to "Add your collection", new_collection_path, class: "btn btn-info border rounded-2" %>
    </div>
  </div>
</div>
