<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <h1>My Collections</h1>
    </div>
    <%= render 'users/user_profile' %>
    <div class="mt-5">
      <%= render "collection_cards", collections: @collections %>
    </div>
  </div>
</div>
