<div>
  <h1>Create Your Collection</h1>
</div>
<%= simple_form_for @collection do |f| %>
  <%= f.input :title, placeholder: 'New Collection Title...'%>
  <%= f.submit 'Create My Collection'%>
<% end %>
