<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <div>
        <h1>Create a Collection</h1>
      </div>
      <%= simple_form_for @collection do |f| %>
        <%= f.input :title, placeholder: 'Give your collection a title...', label: false %>
        <%= f.submit 'Create a Collection', class: "btn btn-info border rounded-4" %>
      <% end %>
    </div>
  </div>
</div>
