<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <div class="title d-flex">
        <%= link_to collections_path do %>
          <%= image_tag 'return.png' %>
        <% end %>
        <h1>Unsorted Activities</h1>
      </div>
      <div>
        <% @activities.each do |activity| %>
          <%= render 'activities/activity_card', activity: activity %>
        <% end %>
      </div>
    </div>
  </div>
</div>
