// Define variables for your color scheme

// Boostrap Color:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
// Theme Color
$primary-color: #E76F51;
$secondary-color: #264653;
$orange-color: #F4A261;
$light-yellow-color: #E9C46A;
$cornflower-Blue-color: #2A9DAF;
$light-white-color: #FBFEF9;
$white-color: #ffffff;
$light-gray: #F4F4F4;
