<div class="container pb-3">
  <div class="row row justify-content-start">
    <div class="col-2">
      <%= image_tag "heros.jpeg", class: "avatar-large" %>
    </div>
    <div class="col-2">
      <h2><%= current_user.name %></h2>
    </div>
  </div>
</div>
