<h1>My Account</h1>

<div>
  <h2><%= @user.name %>'s Profile</h2>
</div>

<%# <% if @user.photo.present? %>
  <%# <%= cl_image_tag @user.photo.key, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag ("images/hero.jpeg") %>
<%# <% end %>
