<Footer class="footer-container  bg-white p-3 pt-4 px-4 border border-soft shadow-sm">
  <nav class="footer-nav">
    <a class="nav-item"><i class="fa-solid fa-house"></i> Home </a>
    <a class="nav-item"><i class="fa-solid fa-magnifying-glass"></i> Search </a>
    <a class="nav-item"><i class="fa-regular fa-bookmark"></i> Bookmark </a>
    <a class="nav-item"><i class="fa-regular fa-user"></i> Profile </a>
  </nav>
</Footer>
