<div class="container">
  <div class="row">
    <div class="col-4">Home</div>
    <div class="col-4">Search</div>
    <div class="col-4">Bookmark</div>
    <div class="col-4">Profile</div>
  </div>
</div>

<Footer class="footer-container">
  <nav class="footer-nav">
    <a class="nav-item"><i class="fa-solid fa-house"></i> Home </a>
    <a class="nav-item"><i class="fa-solid fa-magnifying-glass"></i> Search </a>
    <a class="nav-item"><i class="fa-regular fa-bookmark"></i> Bookmark </a>
    <a class="nav-item"><i class="fa-regular fa-user"></i> Profile </a>
  </nav>
</Footer>
