<div>
  <%= form_with url: path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for an activity..."
      %>
    <%# <%= submit_tag "Search", name: "", class: "btn btn-info border rounded-2" %>
  <% end %>
</div>
