.carousel {
  margin-bottom: 25px;
  .carousel-indicators {
    bottom:-45px;
    z-index: 1;
    [data-bs-target]{
      background-color:$primary-color;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }
}
.categories-container{
  padding: 0px 15px;
  .categories-headinfo{
    h2{
      font-family: $headers-font;
      font-size: 26px;
      font-weight: 600;
      text-transform: capitalize;
    }
    a{
      font-size: 16px;
      font-weight: bold;
      i{
        color: $light-yellow-color;
      }
      &:hover{
        color: $light-yellow-color;
      }
    }
  }
  .categories-contentinfo{
    .carousel-item{
      img{
        height: 200px;
      }
      a{

      }
    }
  }
}
