#collections{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .collection-folder {
    position: relative;
    .edit {
      position: absolute;
      bottom: 10px;
      height: 20px;
      width: 88%;
    }
    .delete i {
      font-size: large;
      color: white;
      position: absolute;
      top: 6px;
      right: 20px
    }
    .folder {
      height: 150px;
      position: relative;
      box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
      .overlay {
        position: absolute;
        background: rgba(57, 57, 57, 0.5);
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        padding-bottom: 0px;
        text-align: center;
        .folder-title {
          font-size: 16px;
          font-weight: 500;
          color: $white;
          text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.9);
        }
      }
    }
    .folder-empty {
      background-color: $secondary-color;
    }
    .folder-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4px;
    }
    .img-big {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .img-small {
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 74px;
    }
  }
}
.btn-info {
  --bs-btn-color: #264653 !important;
  --bs-btn-bg: #e9c46a !important;
  --bs-btn-hover-color: #264653 !important;
  --bs-btn-hover-bg: #e9c46a !important;
  --bs-btn-hover-border-color: #e9c46a !important;
}
