// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footernav";
@import "carousel";
@import "activities";
@import "categorycard";
@import "viewbox";

a{
  text-decoration: none;
}

h1{
  font-family: $headers-font;
  font-size: 30px;
  font-weight: 600;
  color: $secondary-color;
  text-transform: capitalize;
  margin: 15px 0px;
}
h2{
  font-family: $headers-font;
  font-size: 26px;
  font-weight: 600;
  color: $secondary-color;
  text-transform: capitalize;
  margin: 15px 0px;
}
