// Import your components CSS files here.
@import "activities";
@import "activity_details";
@import "alert";
@import "avatar";
@import "carousel";
@import "categorycard";
@import "collection_folders";
@import "footernav";
@import "form_legend_clear";
@import "menu";
@import "navbar";
@import "stars";
@import "pages";
@import "viewbox";

a{
  text-decoration: none;
}

h1{
  font-family: $headers-font;
  font-size: 30px;
  font-weight: 600;
  color: $secondary-color;
  // text-transform: capitalize;
  margin: 15px 0px;
}

h2{
  font-family: $headers-font;
  font-size: 22px;
  font-weight: 600;
  color: $primary-color;
  // text-transform: capitalize;
  margin: 15px 0px;
}

.title>a>img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-top: 12px;
}

.white {
  filter: brightness(0) invert(1);
}

.showmap-btn{
  font-size: 16px;
  position: fixed;
  bottom: 100px;
  border-radius: 41px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
.mapmodel{
  height: 100vh;
  padding-top: 15px;
  border-radius: 0px;
  .close-btn {
      top:unset;
      position: absolute;
      bottom: 30px;
      left: 0;
      font-size: 30px;
      cursor: pointer;
      transition: revert;
      right: 0;
      display: flex;
      justify-content: center;
  }
  .map-box{
    .mapboxgl-popup-close-button{
      font-size: 44px;
      top: 5%;
      right: 2%;
      color: $light-white-color;
      text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.9);
    }
  }
}
