.navbar {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
  justify-content: space-between;
  background: $light-white-color;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.spacer {
  height: 80px;
}
