.viewbox {
  width: 390px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid $secondary-color;
  /* padding: 0px 15px; */
  border-radius: 12px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
