.activity-card{
  position: relative;
  background: #FFFFFF;
  margin-top: 50px;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
  border-radius: 5px;
  .card-inner{
    .image-box{
      background: #ffffff;
      overflow: hidden;
      box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
      border-radius: 5px;
      position: relative;
      img{
        -webkit-transition: all .9s ease;
        -moz-transition: all .9s ease;
        -o-transition: all .9s ease;
        -ms-transition: all .9s ease;
        width: 100%;
        height: 200px;
      }
        .link-btn{
          position: absolute;
          height: 40px;
          width: 40px;
          background-color: rgba(249,249,249,0.6);
          border-color: rgba(224,225,226,0.33);
          border: 1px solid;
          display: flex;
          justify-content: center;
          align-items:center;
          span{
            font-size: 18px;
          }
        }
        .btn-heart{
          top:15px;
          right: 15px;
        }
        .btn-checkview{
          top:15px;
          left: 15px;
        }
        .btn-subnav{
          bottom:15px;
          right: 15px;
        }
      }
      .text-box{

      }
      &:hover {
      background: #fff;
      box-shadow: 0px 15px 26px rgba(0,0,0,0.5);
      transition: all 0.2s ease-in;
      .image-box img {
        opacity: 0.7;
        transform: scale(1.15)
      }
    }
  }
}
