<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <h1>Search by Activity</h1>
      <%= render 'searches/search', path: searches_path %>
    </div>
  </div>
<h1>Browse by Category</h1>
<%= render "category_cards_container", categories: @categories%>
</div>
