<%= render 'activities/search', activities: @search_activities, path: category_path %>

<% if @search_activities.any?%>
  <%= render 'activities/search_results', activities: @search_activities %>
<% else %>
  <h1><%= @category.name.capitalize %> activities</h1>

  <div>
    <% @activities.each do |activity| %>
      <%= render 'activities/activity_card', activity: activity %>
    <% end %>
  </div>
<% end %>
