<div>
  <% @activities.each do |activity| %>
    <div>
      <img src="<%=activity.photo_url%>">
    </div>
    <div>
      <h3><%= activity.title %></h3>
      <p><%= activity.description %></p>
    </div>
    <div>
      <button><%= link_to "See more", activity_path(@category) %></button>
    </div>
  <% end %>
</div>
