<div>
  <div class="d-flex justify-content-between m-3">
    <h2><%= category.name %></h2>
    <%= link_to "See more", category_path(category) %>
  </div>
  <div class="d-flex justify-content-evenly">
    <% activities.each do |activity| %>
      <%= render 'activity_card', activity: activity %>
    <% end %>
  </div>
</div>
