<div class="container categories-container">
  <div class="row">
    <div class="col-md-12 categories-headinfo">
      <div class="cat-header d-flex justify-content-between align-items-center">
        <h2><%= category.name %></h2> <%= link_to category_path(category) do %>
          See more <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 categories-contentinfo">
      <%= render 'carousel', category: category, activities: activities %>
    </div>
  </div>
</div>
