<div class="map-container mb-4" style="width: 100%; height: 83vh;"
        data-controller="map"
        data-map-pos-value="<%= @coords ? @coords.reverse : [] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-home-marker-value='<%= @home_marker %>'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      >
</div>
