<div class="container page-header">
  <div class="row">
    <div class="col-12 pt-4 pb-2 d-flex justify-content-center">
      <%= image_tag("hero_header_logo.png", :style => "height: 50px", :alt => "hero logo") %>
    </div>
        <div class="col-12 pt-3 pb-3 d-flex justify-content-center">
      <p class="text-center text-justify fs-4">Keeping children occupied since the dissolution of the workhouses in 1930.</p>
    </div>
    </div>
  </div>

<% @categories.first(5).each_with_index do |category, i|%>
  <%= render 'category_carousel', category: category, activities: @activities[i], number: i + 1 %>
<% end %>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 map-box">
      <%= render 'map', activities: @all_recommended_activities %>
    </div>
  </div>
</div>
