<h1>Here are your recommendations:</h1>

<% @categories.first(5).each_with_index do |category, i|%>
  <%= render 'category_carousel', category: category, activities: @activities[i], number: i + 1 %>
<% end %>

<%= link_to "See more categories", categories_path %>
<%# <%= render 'map', activities: @all_recommended_activities %>
